@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
:root{
  --bg: 255 255 255;   /* light */
  --fg: 0 0 0;
}
.dark{
  --bg: 5 8 7;         /* dark */
  --fg: 255 255 255;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.beam {
  animation: borderBeam 6s linear infinite;
}

@keyframes borderBeam {
  0% {
    top: -20%;
    left: -20%;
  }
  25% {
    top: -20%;
    left: 80%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  75% {
    top: 80%;
    left: -20%;
  }
  100% {
    top: -20%;
    left: -20%;
  }
}