@import "tailwindcss";
@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.beam {
  animation: borderBeam 6s linear infinite;
}

@keyframes borderBeam {
  0% {
    top: -20%;
    left: -20%;
  }
  25% {
    top: -20%;
    left: 80%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  75% {
    top: 80%;
    left: -20%;
  }
  100% {
    top: -20%;
    left: -20%;
  }
}